body {
	font-family: "Arimo", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
}

.userinformation {
	color: rgb(0, 0, 0);
	align-content: end;
}

.username {
	font-weight: 600;
	margin-bottom: 20px;
}

.headpost {
	display: flex;

	img {
		height: 5vh;
	}

	p {
		margin-bottom: 5px;
	}
}

.postuseravatar {
	margin-right: 5%;
}

.profil {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3vh;
}

.avatar {
	width: 50%;
	margin: 3vh 0;
}

.avatarinteraction {
	ul {
		display: flex;
		gap: 2ch;
		padding: 0;
	}

	li {
		display: flex;
		flex-direction: row;
		list-style: none;
	}

	ul li img {
		height: 3ch;
	}

	p {
		margin: auto 5px;
		text-align: center;
	}
}

.profilinformation {
	text-align: center;
	margin-bottom: 1vh;
}

.postcontent {
	margin: 3vh 0;
	width: 100%;
	font-size: 1em;

	img {
		width: 100%;
		max-height: 25vh;
		object-fit: cover;
	}
}

.postinteraction {
	ul {
		display: flex;
		gap: 2ch;
		padding: 0;
	}

	li {
		display: flex;
		flex-direction: row;
		list-style: none;
	}

	ul li img {
		height: 3ch;
	}

	p {
		margin: auto 5px;
	}
}

@media only screen and (max-width: 730px) {
	.navmobile {
		display: flex;
		justify-content: center;
	}

	.navdesktop {
		display: none;
	}

	/* Présentation feature mobile */

	.content1 {
		display: unset;
	}

	.content2 {
		display: none;
	}

	.content3 {
		display: none;
	}

	/* Présentation feature mobile */

	.main2, .main3 {
		margin: 5vw;
	}

	.logomobile {
		display: flex;

		img {
			height: 5vh;
			margin: 5vw;
		}
	}

	main {
		padding-bottom: 5vh;
	}

	.main1 {
		margin: 5vw;
	}

	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: white;
	}

	ul {
		display: flex;
		padding: 0;
		gap: 8vw;
		padding: 2vh 0;
	}

	li {
		flex-direction: row;
		list-style: none;
	}

	ul img {
		height: 4vh;
	}

	.postinteraction {
		margin: 0;
		align-content: start;

		ul {
			justify-content: flex-start;
			padding-bottom: 4vh;
		}
	}
}

@media only screen and (min-width: 731px) {
	.navmobile {
		display: none;
	}

	.logomobile {
		display: none;
	}

	.navdesktop {
		display: flex;
		margin: 2vw;
		justify-content: space-between;
	}

	.navdesktop img {
		height: 6vh;
	}

	.navdesktop h1 {
		margin: auto 20px auto 20px;
	}

	.navdesktop ul {
		display: flex;
		gap: 5vw;
		justify-content: right;
		margin: auto 0 auto 0;
	}

	.navdesktop li,
	a {
		display: inline-flex;
		list-style: none;
		text-decoration: none;
		color: black;
	}

	main {
		display: flex;
		justify-content: space-between;
	}

	.main1 {
		display: flex;
		flex-direction: column;
		width: 30vw;
	}

	.main2 {
		display: flex;
		flex-direction: column;
		width: 30vw;
	}

	.main3 {
		display: flex;
		flex-direction: column;
		width: 30vw;
	}

	/* Présentation feature desktop */

	.content1 {
		display: unset;
	}

	.content2 {
		display: unset;
	}

	.content3 {
		display: unset;
	}

	/* Présentation feature desktop */

	.main3 {
		display: unset;
	}

	.post {
		height: fit-content;
		width: 90%;
		padding: 3%;
		margin: 1vh auto;
	}

	.bar1,
	.bar2 {
		width: 2px;
		background-color: black;
		border-radius: 20px;
		display: unset;
	}

	.bar2 {
		display: unset;
	}
}
